.edit-content-repository {
  h3 {
    color: #888;
    border-bottom: solid 1px #888;
  }

  input.line {
    width: 100%;
  }

  .controls {
    margin-top: 20px;

    button {
      margin-right: 5px;
    }
  }
}
